body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  background-image: url('./Images/images.jpeg');
}

.container > div {
  height: 210px;
  margin: 0;
  padding: 0;
}

.char-cont {
  background-color: coral;
}

.char-details {
  border: 5px solid black;
  color: black;
  text-align: center;
  margin: 0 auto;
  max-height: 30%;
  max-width:  60%;
  background-color: lightblue;
}

.char-card {
  text-align: center;

  /* background-image: url('./Images/images.jpg'); */
}

/* .image-cont {
  border: 2px dotted green;
  max-width: 60%;
  max-height: 60%;
} */

/* .info-card {
  border: 2px solid blue;
  color: blue;
  width: 50%;
} */

img {
  width: 100%;
  height: 100%;
  border: 5px solid #a9d14b;

}

.lk-btn {
  text-align: center;
}

.card-name {
  color: blue;
  background-color: white;
}
