body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.char-cont {
  border: 5px solid red;
  color: red;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}
.char-card {
  border: 5px dotted black;
  color: black;
  text-align: center;
  margin: 0 auto;
  max-height: 100%

}
.image-cont {
  border: 2px dotted green;
  color: green;
  max-width: 60%;
  max-height: 60%;
}

.info-card {
  border: 2px solid blue;
  color: blue;
  width: 50%;
}

img {
  width: 100%;
  height: 100%;
}

.c-card {

}
