body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.char-cont {
  width: 60%;
  height: 60%;
  border: 5px solid red;
  color: red;
  padding-bottom: 100px;

}
.char-card {
  border: 3px solid black;
  color: black;
  width: 80%;
  height: 80%;
}
.image-cont {
  border: 2px dotted green;
  color: green;
  width: 50%;
}

.info-card {
  border: 2px solid blue;
  color: blue;
  width: 50%;
}

img {
  width: 40%;
  height: 50%;
  margin-left: 300px;
}
